@import '../../styles/variables.scss';

:host {
    width: 100%;
    .wbc-footer,
    .wbc-impressum {
        background: $primaryBlue;
        padding: 1em;
        height: 30vh;
    }
}

.footer-buttons{
    position: absolute;
    bottom: 0;
    background: #eee;
    padding: 0.3em 0.3em;
    right: 0px;
    z-index: -1;
}

#wbc-show-footer-button,
#wbc-show-impressum-button {
    float: right;
}

