<ul class="wbc-infobox-ul wbc-hidden-xs">
    <span class="wbc-close-button" (click)="uiService.showSelectedFeature = false">x</span>
   <li class="wbc-wide">
       <h2>{{uiService.selectedFeature.properties.title}}</h2>
       <div class="wbc-wide-devider">
            <div class="wbc-half">
                <h3> {{'Über uns' | translate}}</h3>
                <p>{{uiService.selectedFeature.properties.descde }}</p>
            </div>
            <div class="wbc-half">
                <img src="{{uiService.selectedFeature.properties.img}}">
           </div>
       </div>
   </li>
   <li class="wbc-normal">
        <h3>{{'Bitte Mitbringen' | translate}}</h3>
        <ul>
            <li>stuff</li>
            <li>mehr stuff</li>
            <li>nocht mehr</li>
            <li>das auch</li>
            <li>alles</li>
        </ul>

    </li>
    <li class="wbc-normal">
        <h3> {{'Kontakt' | translate}} </h3>
        <p>{{uiService.selectedFeature.properties.title}} </p>
        <p>{{uiService.selectedFeature.properties.address}}</p>
        <p>{{uiService.selectedFeature.properties.opening}}</p>
   </li>

</ul>


<div class="wbc-mobile-info wbc-hidden-lg">
     <div class="wbc-close-bar wbc-hidden-lg">
        <span class="wbc-close-button-rel" (click)="uiService.showSelectedFeature = false">x</span>
    </div>
    <div class="wbc-infos">
        <h2 class="wbc-color">{{uiService.selectedFeature.properties.title}}</h2>
        <h3> {{'Kontakt' | translate}} </h3>
        <p>{{uiService.selectedFeature.properties.title}} </p>
        <p>{{uiService.selectedFeature.properties.address}}</p>
        <p>{{uiService.selectedFeature.properties.opening}}</p>
        <img src="{{uiService.selectedFeature.properties.img}}">

        <h3> {{'Über uns' | translate}}</h3>
        <p>{{uiService.selectedFeature.properties.descde }}</p>
        <h3>{{'Bitte Mitbringen' | translate}}</h3>
        <ul>
            <li>stuff</li>
            <li>mehr stuff</li>
            <li>nocht mehr</li>
            <li>das auch</li>
            <li>alles</li>
        </ul>
    </div>
</div>