:host {
    // background: white;
    width: 100%
}

.wbc-infobox-ul {
    list-style: none;
    margin: 0 2em;
    // width: 100%;
    background: white;
    padding: 0;
    // margin: 0;
    position: relative;
    top: 0;

    display: flex;
    // flex-direction: column;

    li.wbc-wide {
        width: 48%;
        float: left;
        // display: inline-block;
        flex-grow: 1;
        position : relative;
        height: 100%;
        .wbc-wide-devider {
            display: flex;
            width: 100%;
            .wbc-half {
                flex-grow: 1;
                width: 24%;
                float: left;
                img {
                    max-width: 100%;
                    max-height: 200px;
                }
            }
        }
    }
    li.wbc-normal {
        flex-grow: 1;
        width: 24%;
        float: left;
    }
}

.wbc-mobile-info {
    max-height: 95VH;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 1em;
    background: white;
    .wbc-infos {
        padding: 1em;
        padding-top: 36px;
        img {
            max-height: 200px;
        }
    }
}