<div class="wbc-turned-link-container">
    <div class="wbc-turned-link-rotator">
        <a class="wbc-turned-link" routerLink="/kaufen" routerLinkActive="active"> < {{ "Kaufen" | translate }}</a>
        <div class="smily"></div>
    </div>
</div>

<div class="headline">
    <span>{{"spenden-headline-1st" | translate}}</span><br>
    <span>&mdash;{{"spenden-headline-2nd" | translate}}</span>
</div>

<div class="wbc-four-row">
    <div class="wbc-image-title-container" *ngFor="let cat of dataService.categories" (click)="dataService.activate(cat, 'donate')">
        <img src="{{cat.img}}"> {{ cat.name | translate }}
    </div>
</div>