#wbc-nav-container {
    ul {
        list-style: none;
        li {
            a {
                margin: 0.8em;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: black;
                display: inline-block;
                border: 1px solid black;

                &.active {
                    background: white;
                }
            }

        }
    }

    .wbc-rotate-text-top {
        position: absolute;
        transform: rotate(90deg);
        margin: 0;
        left: 30px;
        top: -25px;
    }

    .wbc-rotate-text-bot {
        position: absolute;
        transform: rotate(90deg);
        margin: 0;
        left: 30px;
        // top: -25px;
    }
}