li.wbc-icons-filter {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    margin-right: 12px;
}

.wbc-active-name {
    white-space: nowrap;
    font-family: "NowBlack";
    font-size: 28px;
    bottom: 13px;
    padding-left: 0;
    position: relative;
}

@media screen and (max-width: 768px){

    
}
