@import '../../styles/variables.scss';

.wbc-icons-filter {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    cursor: pointer;
    background-color: black;
    margin-right: 12px;
    display: inline-flex;
    flex-shrink: 0;

    img {
        width: 90%;                
        left: 5%;
        position: relative;
        display: block;
        filter: invert(100%);
        align-self: center;
    }
}

.wbc-active-name {
    font-family: "NowBlack";
    font-size: 28px;
    align-self: center;
    line-height: 28px;
    bottom: -4px;
    position: relative;
    left: 1em;
}

@media screen and (max-width: 768px){

    
}
