.wbc-bottom-right-icon {
    z-index: 3;
}
#wbc-lang-switch-list {
    position: absolute;
    bottom: 3em;
    right: 0;
    z-index: 1;

    ul {
        list-style: none;
        padding: 0;
        background: white;
        li {
            border-bottom: 1px solid black;
            padding: 0.3em 0.5em;
            &:hover {
                background: #eee;
            }
        }
    }
}

.about-container {
    position: fixed;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    background-color: red;
}