<wbc-nav></wbc-nav>
<p>{{ 'HELLO' | translate }}</p>
<router-outlet id="wbc-main-page"></router-outlet>

<wbc-footer></wbc-footer>

<div id="wbc-popup" [hidden]="uiService.popupFeature == null">
  <div *ngIf="uiService.popupFeature">
    <div class="wbc-content">
      <h3>{{uiService.popupFeature.properties.title}}</h3>
      <p>{{uiService.popupFeature.properties.address}}</p>
      <a href="tel:{{uiService.popupFeature.properties.tel}}">{{uiService.popupFeature.properties.tel}}</a>
    </div>
    <div class="wbc-more-button" (click)="openDetails(uiService.popupFeature)">{{'Mehr Information' | translate}}</div>
  </div>
</div>

<wbc-autocomplete-filter></wbc-autocomplete-filter>
<wbc-dropdown-filter></wbc-dropdown-filter>