@import '../styles/variables.scss';

wbc-nav {
    position: absolute;
    z-index: 10;
    right: 0em;
    top: 50%;
    transform: translateY(-50%);
}

wbc-footer {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.wbc-content {
    padding: 0 1em;
}
.wbc-more-button {
    background: black;
    color: white;
    font-weight: bold;
    padding: 1em 0.5em;
    text-align: center;
    &:hover {
        background: #333333;
    }
    &:active {
        background: $primaryRed;
    }
}