@import '../../styles/variables.scss';

:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .wbc-content {
        .body2 {
            color: $primaryRed;
        }
    }

.wbc-more-button {
    &:hover {
        background: $darkRed;
    }
    &:active {
        background: $primaryRed;
    }
}