@import '../../styles/variables.scss';

:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: green;
}

    .wbc-content {
        .body2 {
            color: $primaryBlue;
        }
    }

.wbc-more-button {
    &:hover {
        background: $darkBlue;
    }
    &:active {
        background: $primaryBlue;
    }
}