<div id="wbc-buy-map" class="wbc-map">
    <div *ngIf="!uiService.showFilter" class="wbc-menu-button wbc-hidden-lg" (click)="uiService.showFilter = true">
        <div></div>
        <div></div>
        <div></div> 
    </div>
    <wbc-filter [ngClass]="{'visible' : uiService.showFilter}"></wbc-filter>
    <wbc-infobox *ngIf="uiService2.showSelectedFeature" [@slideInAnimation]></wbc-infobox>
    <span class="wbc-back" routerLink="/kaufen">{{'zurück auf Start' | translate }}</span>
    <wbc-icon-filter class="wbc-hidden-xs"></wbc-icon-filter>
    <wbc-bottom-right></wbc-bottom-right>
</div>