<div id="wbc-buy-map" class="wbc-map">
    <!-- <wbc-icon-filter class="wbc-hidden-xs"></wbc-icon-filter> -->
    <div *ngIf="!uiService.showFilter" class="wbc-menu-button wbc-hidden-lg" (click)="uiService.showFilter = true">
        <div></div>
        <div></div>
        <div></div> 
    </div>
    <wbc-filter [ngClass]="{'visible' : uiService.showFilter}"></wbc-filter>
    <wbc-infobox *ngIf="uiService2.showSelectedFeature" [@slideInAnimation]></wbc-infobox>
    <span class="wbc-back" routerLink="/kaufen"></span>
</div>

<wbc-dropdown-filter></wbc-dropdown-filter>

<div id="wbc-popup">
    <div *ngIf="uiService.popupFeature">
        <div class="wbc-content">
            <h3>{{uiService.popupFeature.properties.title}}</h3>
            <p class="body1">{{uiService.popupFeature.properties.address}}</p>
            <p class="body2">T - {{uiService.popupFeature.properties.tel}}</p>
        </div>
        <div class="wbc-more-button" (click)="openDetails(uiService.popupFeature)">{{'Mehr Information' | translate}}</div>
    </div>
</div>