html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.wbc-four-row {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 90%;
    left: 5%;

    li {
        max-width: 24%;
        display: inline-block;
    }
}

.wbc-image-title-container {
    position: relative;
    text-align: center;
    img {
        width: 80%;
    }
}

.wbc-map {
    width: 100%;
    height: 100%;
}

wbc-icon-filter {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 2;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding: 1em;
            img {
                height: 30px;
            }
        }
    }
}

wbc-filter {
    position: absolute;
    z-index: 2;
    left: 1em;
    top: 2em;
}

wbc-infobox {
    position: absolute;
    z-index: 3;
    bottom: 1em;
    width: 100%;
    
    .wbc-four-row {
        background: white;
        border-bottom: 2px solid black;
    }
}