@import 'styles/variables.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.wbc-four-row {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 90%;
    left: 5%;

    li {
        max-width: 24%;
        display: inline-block;
    }
}

.wbc-image-title-container {
    position: relative;
    text-align: center;
    img {
        width: 80%;
    }
}

.wbc-map {
    width: 100%;
    height: 100%;
}

wbc-icon-filter {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 2;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding: 1em;
            img {
                height: 30px;
            }
        }
    }
}

wbc-filter {
    position: absolute;
    z-index: 2;
    left: 1em;
    top: 2em;
}

wbc-infobox {
    position: absolute;
    z-index: 10;
    bottom: 1em;
    width: 100%;

    // .wbc-four-row {
    //     background: white;
    //     border-bottom: 2px solid black;
    // }
}

.wbc-close-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 1em;

    &:hover {
        background: #ccc;
    }
}

.wbc-back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: #eee;
    padding: 0.1em 0.3em;
    cursor: pointer;
}


#wbc-buy-map {
    .wbc-filter-item.active {
        background: $primaryBlue !important;
    }
    wbc-icon-filter {
        .active {
            background: $primaryBlue !important;
        }
    }
    .wbc-infobox-ul {
        h2 {
            color: $primaryBlue;
        }
    }
}
#wbc-donate-map {
    .wbc-filter-item.active {
        background: $primaryRed !important;
    }
    wbc-icon-filter {
        .active {
            background: $primaryRed !important;
        }
    }
    .wbc-infobox-ul {
        h2 {
            color: $primaryRed;
        }
    }
}

