.autocomplete__container {
    position: absolute;
    top: 400px;
}

input {
    height: 40px;
    // width: 40px;
}
input:focus {
    outline: none;
    // width: 40px;
}

.autocomplete-close,
.autocomplete-arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin: 8px;
    text-align: center;
    line-height: 32px;
}

.autocomplete-arrow {
    pointer-events: none;
}

:host /deep/ .ngui-auto-complete-wrapper:nth-child(2) {
    position: absolute;
    width: 100%;
}

:host /deep/ .ngui-auto-complete ul li {
    height: 32px;
}

:host /deep/ .ngui-auto-complete ul {
    max-height: 200px;
}

:host /deep/ .ngui-auto-complete > ul li.selected {
    background-color: transparent;
}
