@import '../../styles/variables.scss';


:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;

    h1 {
        color: $primaryBlue;
    }
}


.wbc-turned-link {
    position: absolute;
    left: 3em;
    top: 3em;
    transform: rotate(90deg);
    color: black;
    letter-spacing: 2.5px;
    text-decoration: none;
}